@import "normalize";
@import "fonts";
@import "variables";
@import "home";

.main {
  min-height: 50vh;
}

.container {
  max-width: 1368px;
  margin: 0 auto;
}

.button {
  padding: 13px 50px;
  border-radius: 4px;
  font-family: 'Lato';
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  &_green {
    border: 1px solid $main-color;
    background-color: $main-color;
    color: $light-color;

    &:hover {
      transition: color .4s, background-color .4s;
      background-color: transparent;
      color: $main-color;
    }
  }
}

a {
  text-decoration: none;
}

// Header
.header {
  padding: 30px 0;
  background-color: $light-color;
  font-family: 'Lato';

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {

    &__img {
      width: 80px;
    }
  }

  .menu {
    width: 100%;
    max-width: 560px;
    display: flex;
    justify-content: space-between;

    &__item {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: $text-alt-color;
    }
  }

  .proposal {
    display: flex;
    align-items: center;

    &__signin {
      margin-right: 35px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: $dark-color;
    }
  }
}

//Footer
.footer {
  padding: 95px 0 145px;
  background-color: $second-color;
  font-family: 'Lato';

  .logo {

    &__img {
      width: 108px;
    }
  }

  .footer-menu {
    display: flex;
    flex-direction: column;

    &__item {
      margin-top: 60px;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px; 
      color: $light-color;
    }
  }
}

//Animation
.link-anima {
	position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0; bottom: -6px;
    width: 0;
    height: 2px;
    background-color: $main-color;
    transition: width .4s;
  }

  &:hover {
    &:before {
      width: 100%;
    }
  }
}
