.promo {
  padding: 175px 0 335px;
  background-image: url("../img/promo-bg.jpg");
  background-size: cover;
  background-position: center;

  &__title {
    max-width: 440px;
    margin-bottom: 30px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: $main-color;
  }

  &__text {
    max-width: 420px;
    margin-bottom: 45px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: $text-new-color;
  }

  &__link {
    display: inline-block;
    padding: 20px 50px;
  }
}

.appeal {
  padding: 170px 0 50px;

  .how {
    display: flex;
    align-items: center;
    padding-bottom: 50px;

    &__col {
      width: 50%;
    }

    &__label {
      font-family: 'Lato';
      font-weight: 600;
      font-size: 24px;
      line-height: 157%;
      color: $text-color;
    }

    &__title {
      max-width: 585px;
      font-family: 'Georgia';
      font-weight: 700;
      font-size: 50px;
      line-height: 157%;
      color: $main-color;
    }

    &__text {
      font-family: 'Lato';
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #424242;
    }
  }

  .steps {
    display: flex;
    justify-content: space-between;
    
    .step {
      width: 390px;

      &:nth-child(2) {
        margin-top: 280px;
      }

      &:nth-child(3) {
        margin-top: 50px;
      }
     
      &__head {
        position: relative;
        padding-bottom: 55px;
      }

      &__label {
        position: absolute;
        top: -115px;
        font-family: 'Georgia';
        font-weight: 400;
        font-size: 150px;
        color: rgba(1, 153, 109, 0.2);
      }

      &__title {
        padding-left: 80px;
      }

      &__text {
        font-family: 'Lato';
        font-weight: 500;
        font-size: 20px;
        line-height: 150%;
        color: $text-color;
      }

      &__img {
        width: 100%;
        border-radius: 12px;
      }
    }
  }
}

.story {
  padding: 230px 0 180px;
  background-color: $second-color;

  &__container {
    display: flex;
  }

  &__col {

    &_left {
      width: 40%;
      padding-right: 30px;
    }

    &_right {
      width: 60%;
      height: 515px;
      position: relative;
      border-radius: 16px;
      overflow: hidden;
    }
  }

  &__title {
    margin: 0;
    max-width: 512px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: $light-color;
  }

  &__text {
    max-width: 485px;
    margin-top: 56px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: $light-color;
  }

  &__button {
    display: inline-block;

    &:hover {
      border: 1px solid $light-color;
      color: $light-color !important;
    }
  }

  &__img,
  &__video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__img {
    display: block;
  }

  &__video {
    display: none;
  }

  &__start {
    width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;

    &-svg {
      width: 100%;
      position: relative;
      z-index: 2;
    }

    &-fill {
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: .8;
      background-color: transparent;
    }

    &:hover {
      .story__start-fill {
        transition: .4s;
        background-color: $main-color;
      }
    }
  }
}

.product {
  padding: 120px 0 170px;

  &__container {
    display: flex;
    position: relative;
  }

  &__col {
    width: 50%;

    &_left {
      padding-left: 60px;
    }

    &_right {
      padding-left: 80px;
    }
  }

  &__img {
    width: 100%;
    border-radius: 18px;
  }
  
  &__label {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: $text-color;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: $main-color;
  }

  &__text {
    max-width: 530px;
    margin-bottom: 40px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: $text-new-color;
  }
}

.card {
  width: 296px;
  box-sizing: border-box;
  padding: 25px 55px;
  position: absolute;
  bottom: -75px;
  left: 0;
  border-radius: 4px;
  background-color: $light-color;
  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
  color: $dark-color;

  &__label {
    width: fit-content;
    margin: 0 auto 13px auto;
    padding: 0 3px 7px 3px;
    border-bottom: 1px solid $dark-color;
    font-family: 'Lato';
    font-weight: 600;
    font-size: 14.49px;
    line-height: 157%;
  }

  &__img {
    display: block;
    max-width: 57px;
    margin: 0 auto 10px auto;
    border-radius: 50%;
  }

  &__name {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    line-height: 157%;
    text-align: center;
  }

  &__title {
    font-family: 'Georgia';
    font-weight: 700;
    font-size: 16px;
    line-height: 157%;
  }

  &__list {
    padding-left: 0;
    list-style: none;

    &-item {
      margin-bottom: 15px;
      font-family: 'Lato';
      font-weight: 400;
      font-size: 11px;
      line-height: 157%;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 2px;
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $dark-color;
      }
    }
  }
}